
<h1 class="bg-info text-white p-4 mb-4 text-center">Todo</h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <input type="text" [(ngModel)]="todoItem" class="form-control">
      </div>
     <div class="tex-right">
      <button class="btn btn-info"
      (click)="onTodoAdd()"
      >Add Todo Item</button>
     </div>
    </div>
      <div class="col-6">
        <ul class="list-group"
        *ngIf="todoArray.length !== 0"
        >
           <li class="list-group-item bg-info text-white" *ngFor="let todo of todoArray">
            {{todo}}
           </li>
        </ul>
        <p 
        *ngIf="todoArray.length === 0"
        class="alert alert-warning">
          No Todo Item Added Yet !!!
        </p>
    </div>
  </div>
</div>

